@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to .NET s2i-dotnetcore builder images. </h1>
    <p>Building MVC Web apps with ASP.NET Core (vCore 6.0)</a>. with No DB</p>
</div>
